<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.raveesh.hermes" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <receiver
            android:name=".receivers.RebootReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".receivers.HermesBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".receivers.ExponentialBackoffReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
